body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
.hero-body{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}